@model dummiesServiciosTienda.Models.ClienteResource

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryuiProcesosClientes")
</head>

<body>
    <div ng-app="mainApp" ng-controller="studentController">
        <p>Name:<input type="text" ng-model="name" /></p>
        @{  if (Model != null)
          {
            <table>
                <tr><td>ApellidoPaterno</td><td>ApellidoMaterno</td><td>AceptaPolitica</td><td>CodigoAfiliacion</td><td>Email</td><td>FechaModificacion</td><td>Mensaje</td></tr>
                <tr><td>@Model.Cliente.ApellidoPaterno</td><td>@Model.Cliente.ApellidoMaterno</td><td>@Model.Cliente.AceptaPolitica</td><td>@Model.Cliente.CodigoAfiliacion</td><td>@Model.Cliente.Email</td><td>@Model.Cliente.FechaModificacion</td><td>@Model.Mensaje</td></tr>
            </table>

          }
          else
          {
            <div>NO hay registro valido</div>

          }

        }

       



        Enter first name: <input type="text" ng-model="student.firstName"><br><br>
        Enter last name: <input type="text" ng-model="student.lastName"><br>

        <p ng-bind="mainApp"></p> <p ng-bind="mainApp"></p>
        <h1 ng-bind="mainApp"></h1>
        <label ng-bind="mainApp"></label>
        <h2 ng-bind="mainApp" style="color:ActiveCaption"></h2>

        <p>My first expression: {{ 5 + 5 }}</p>
        <br>

        You are entering: {{student.fullName()}}
    </div>

    <script>
        var mainApp = angular.module("mainApp", []);

        mainApp.controller('studentController', function ($scope) {
            $scope.student = {
                firstName: "Mahesh",
                lastName: "Parashar",

                fullName: function () {
                    var studentObject;
                    studentObject = $scope.student;
                    return studentObject.firstName + " " + studentObject.lastName;
                }
            };
        });

  

    </script>




   
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAngular")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAngularmin")
   
</body>
</html>
