
<!DOCTYPE html>

<html data-ng-app="angularapp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
@section scripts{
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAngular")


    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryuiProcesosClientes")

   
        
        }

  


</head>
@*<body data-ng-init="Customer=[{name:'zarmir',city:'Lima Peru'},{name:'Cristian',city:'Ica'},{name:'Mendel',city:'USA'},{name:'Munuela',city:'Vado'},{name:'muñeca',city:'Itali'}]">*@
<body>
    <div data-ng-controller="ClientesControllers">
        <p>{{6-8}}</p>
        <ul>
            <li data-ng-repeat="salida in Customer">{{salida.name}}</li>
        </ul>
        <input type="text" data-ng-model="Modelo1" />
    </div>

    @using (Html.BeginForm("Create", "ListClientes", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    }
    @{

        if (Request.ContentLength != 0)
        {
            var Numeroa = Request["Numero1"].ToString();
            var numerob = Request["Numero2"].ToString();
            var resultado = double.Parse(Numeroa) + double.Parse(numerob);
            <h4>@resultado</h4>
        }


    }


</body>
</html>